# =============================================================================
# AUTH Main Configuration
# =============================================================================
# AUTH_TENANT can be specified with or without https:// prefix
# Examples: auth0.eu.auth0.com or https://auth0.eu.auth0.com
AUTH_TENANT=
AUTH_M2M_CLIENT_ID=
AUTH_M2M_CLIENT_SECRET=
AUTH_AUDIENCE=
AUTH_GRANT_TYPE=client_credentials

# Modo Frontend App Auth0 Configuration
AUTH_APP_CLIENT_ID=

# =============================================================================
# API Configuration
# =============================================================================

# Ledger API Configuration
LEDGER_API_URL=http://participant:7575

# Wallet API Configuration
WALLET_API_URL=http://validator:5003/api/validator

# Docker Configuration
DOCKER_NETWORK=splice-validator_splice_validator

# ONLY FOR TUNNELS
# LEDGER_EXTRA_HOST=ledger.localhost:host-gateway
# WALLET_EXTRA_HOST=wallet.localhost:host-gateway

# =============================================================================
# Database Configuration
# =============================================================================

# FOR DB (local or remote):
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_HOST=db        # change only for remote db
POSTGRES_PORT=5432
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# DB Volume dir
POSTGRES_DATA_DIR=postgres_data

# =============================================================================
# APP Configuration
# =============================================================================

IMAGE_TAG=v1.1.0

# Frontend Configuration
FRONT_LOCAL_HOST=127.0.0.1
FRONT_LOCAL_PORT=3000

# Main Validator party ID
MAIN_PARTY_ID=main-validator-party

# Logging
LOG_LEVEL=INFO
